.p {
    margin: 0;
  }
  .child,
  .div1 {
    position: absolute;
  }
  .div1 {
    top: 3.81rem;
    left: 7.38rem;
    font-size: var(--font-size-6xl);
    display: inline-block;
    width: 9.5rem;
    height: 4.5rem;
  }
  .child {
    top: 0;
    left: 0;
    background-color: #f6f6f6;
    width: 90rem;
    height: 2.19rem;
  }
  .div2,
  .div3,
  .div4,
  .div5 {
    position: absolute;
    top: 5.13rem;
    left: 24.56rem;
    display: inline-block;
    width: 14rem;
    height: 2rem;
  }
  .div3,
  .div4,
  .div5 {
    top: 5rem;
    left: 41.69rem;
  }
  .div4,
  .div5 {
    top: 4.88rem;
    left: 58.81rem;
  }
  .div5 {
    left: 71.69rem;
  }
  .inner,
  .item,
  .line-icon {
    position: absolute;
    top: 24.97rem;
    left: 5.31rem;
    width: 2.06rem;
    height: 1.72rem;
    object-fit: contain;
  }
  .inner,
  .line-icon {
    top: 24.55rem;
    left: 84.42rem;
    width: 2.22rem;
    height: 1.99rem;
  }
  .line-icon {
    top: 22.68rem;
    left: 84.72rem;
    width: 1.92rem;
    height: 1.87rem;
  }
  .b,
  .div6 {
    display: inline-block;
  }
  .b {
    position: absolute;
    top: 25.13rem;
    left: 36.06rem;
    font-size: var(--font-size-mini);
    color: var(--color-snow);
    width: 7.81rem;
    height: 1.13rem;
  }
  .div6 {
    top: 0.63rem;
    left: 75.19rem;
    font-size: 0.75rem;
    text-align: left;
    width: 7rem;
    height: 0.94rem;
  }
  .b1,
  .child1,
  .div6 {
    position: absolute;
  }
  .child1 {
    top: 8.63rem;
    left: -1.25rem;
    width: 91.25rem;
    height: 0.25rem;
    object-fit: contain;
  }
  .b1 {
    top: 15.31rem;
    left: 41.19rem;
    font-size: 3.13rem;
    display: inline-block;
    text-align: left;
    width: 30.88rem;
    height: 14.25rem;
  }
  .image-3-icon {
    position: absolute;
    top: 51.56rem;
    left: 39.94rem;
    width: 10.81rem;
    height: 9.69rem;
    object-fit: cover;
  }
  .child2,
  .line-div {
    position: absolute;
    top: 22.66rem;
    left: 28.41rem;
    border-top: 1px solid var(--color-gray-100);
    box-sizing: border-box;
    width: 35.44rem;
    height: 0.06rem;
  }
  .child2 {
    top: 26.34rem;
    width: 35.38rem;
  }
  .child3 {
    top: 22.72rem;
    left: 28.41rem;
    width: 0.05rem;
    height: 3.66rem;
    object-fit: contain;
  }
  .b2,
  .child3,
  .child4 {
    position: absolute;
  }
  .child4 {
    top: 22.72rem;
    left: 63.69rem;
    width: 0.05rem;
    height: 3.66rem;
    object-fit: contain;
  }
  .b2 {
    top: 30.06rem;
    left: 35.94rem;
    font-size: var(--font-size-mini);
    display: inline-block;
    color: var(--color-snow);
    width: 7.81rem;
    height: 1.19rem;
  }
  .child5,
  .child6 {
    position: absolute;
    top: 27.66rem;
    left: 28.34rem;
    border-top: 1px solid var(--color-gray-100);
    box-sizing: border-box;
    width: 35.38rem;
    height: 0.06rem;
  }
  .child6 {
    top: 31.34rem;
    left: 28.28rem;
  }
  .child7,
  .child8 {
    position: absolute;
    top: 27.71rem;
    left: 28.29rem;
    width: 0.05rem;
    height: 3.66rem;
    object-fit: contain;
  }
  .child8 {
    left: 63.58rem;
  }
  .div7,
  .div8 {
    position: absolute;
    top: 24rem;
    left: 29.44rem;
    color: var(--color-gray-200);
    display: inline-block;
    width: 10.44rem;
    height: 3.31rem;
  }
  .div8 {
    top: 29rem;
    left: 27.19rem;
  }
  .rectangle-div {
    position: absolute;
    top: 33.56rem;
    left: 28.44rem;
    background-color: var(--color-black);
    width: 1.81rem;
    height: 1.94rem;
  }
  .div9 {
    position: absolute;
    top: 34rem;
    left: 24.56rem;
    display: inline-block;
    width: 20.44rem;
    height: 2.44rem;
  }
  .vector-icon,
  .vector-icon1 {
    position: absolute;
    height: 7.73%;
    width: 6.04%;
    top: 25.91%;
    right: 17.57%;
    bottom: 66.36%;
    left: 76.39%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .vector-icon1 {
    height: 1.18%;
    width: 0.97%;
    top: 49.73%;
    right: 66.81%;
    bottom: 49.09%;
    left: 32.22%;
  }
  .child9 {
    position: absolute;
    top: 38.31rem;
    left: 28.31rem;
    background-color: var(--color-black);
    width: 35.25rem;
    height: 3.56rem;
  }
  .b3,
  .div10 {
    display: inline-block;
  }
  .b3 {
    position: absolute;
    top: 39.19rem;
    left: 35.5rem;
    font-size: var(--font-size-6xl);
    color: var(--color-white);
    width: 21.31rem;
    height: 2.38rem;
  }
  .div10 {
    top: 43.13rem;
    left: 23.63rem;
    font-size: var(--font-size-mini);
    width: 20.31rem;
    height: 5.63rem;
  }
  .child10,
  .div10,
  .div11 {
    position: absolute;
  }
  .child10 {
    top: 48.72rem;
    left: 27.66rem;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 36.19rem;
    height: 0.06rem;
  }
  .div11 {
    top: 49.63rem;
    left: 20.88rem;
    font-size: var(--font-size-6xl);
    display: inline-block;
    width: 22.63rem;
    height: 8.44rem;
  }
  .div {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 64.94rem;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  