.p {
    margin: 0;
  }
  .div1 {
    position: absolute;
    top: 3.81rem;
    left: 7.38rem;
    font-size: 1.56rem;
    display: inline-block;
    width: 9.5rem;
    height: 4.5rem;
  }
  .child {
    top: 9.94rem;
    left: 0;
    height: 0.06rem;
    object-fit: contain;
  }
  .child,
  .inner,
  .item {
    position: absolute;
    width: 90rem;
  }
  .item {
    top: 56.63rem;
    left: 0.13rem;
    height: 0.06rem;
    object-fit: contain;
  }
  .inner {
    top: 0;
    left: 0;
    background-color: #f6f6f6;
    height: 2.19rem;
  }
  .div2,
  .div3,
  .div4,
  .div5 {
    position: absolute;
    top: 5.13rem;
    left: 24.56rem;
    display: inline-block;
    width: 14rem;
    height: 2rem;
  }
  .div3,
  .div4,
  .div5 {
    top: 5rem;
    left: 41.69rem;
  }
  .div4,
  .div5 {
    top: 4.88rem;
    left: 58.81rem;
  }
  .div5 {
    left: 71.69rem;
  }
  .line-icon {
    position: absolute;
    top: 22.81rem;
    left: 5.31rem;
    width: 2.06rem;
    height: 2.16rem;
  }
  .child1,
  .child2,
  .line-icon {
    object-fit: contain;
  }
  .child1 {
    position: absolute;
    top: 24.97rem;
    left: 5.31rem;
    width: 2.06rem;
    height: 1.72rem;
  }
  .child2 {
    top: 24.55rem;
    left: 84.42rem;
    width: 2.22rem;
    height: 1.99rem;
  }
  .b,
  .child2,
  .child3 {
    position: absolute;
  }
  .child3 {
    top: 22.68rem;
    left: 84.72rem;
    width: 1.92rem;
    height: 1.87rem;
    object-fit: contain;
  }
  .b {
    top: 29.25rem;
    left: 27.88rem;
    font-size: var(--font-size-mini);
    display: inline-block;
    color: var(--color-snow-100);
    width: 10.88rem;
    height: 2.13rem;
  }
  .rectangle-div {
    position: absolute;
    top: 10rem;
    left: 0;
    background-color: #585555;
    width: 90rem;
    height: 12.56rem;
  }
  .b1,
  .div6,
  .div7 {
    position: absolute;
    display: inline-block;
  }
  .b1 {
    top: 15.06rem;
    left: 3.25rem;
    font-size: 1.88rem;
    color: #fdfafa;
    width: 57.44rem;
    height: 5.19rem;
  }
  .div6,
  .div7 {
    top: 24.56rem;
    left: 5.31rem;
    width: 29.56rem;
    height: 1.81rem;
  }
  .div7 {
    top: 59.44rem;
    left: 2.38rem;
  }
  .child4,
  .child5,
  .child6,
  .child7 {
    position: absolute;
    height: 0.06rem;
    object-fit: contain;
  }
  .child4 {
    top: 93.75rem;
    left: 0;
    width: 90rem;
  }
  .child5,
  .child6,
  .child7 {
    top: 27.13rem;
    left: 5.31rem;
    width: 79.63rem;
  }
  .child6,
  .child7 {
    top: 30.13rem;
    width: 79.38rem;
    height: 0.19rem;
  }
  .child7 {
    top: 33.07rem;
    width: 59.69rem;
    height: 0.31rem;
  }
  .child10,
  .child11,
  .child12,
  .child13,
  .child8,
  .child9 {
    position: absolute;
    top: 36.44rem;
    left: 5.06rem;
    width: 59.81rem;
    height: 0.19rem;
    object-fit: contain;
  }
  .child10,
  .child11,
  .child12,
  .child13,
  .child9 {
    top: 39.81rem;
    height: 0.06rem;
  }
  .child10,
  .child11,
  .child12,
  .child13 {
    top: 43.13rem;
    width: 59.94rem;
  }
  .child11,
  .child12,
  .child13 {
    top: 46.31rem;
    left: 5.31rem;
    width: 79.63rem;
  }
  .child12,
  .child13 {
    top: 49.63rem;
  }
  .child13 {
    top: 54.19rem;
    left: 5.06rem;
  }
  .line-div {
    position: absolute;
    top: 27.16rem;
    left: 16.84rem;
    border-right: 1px solid var(--color-gray);
    box-sizing: border-box;
    width: 0.06rem;
    height: 27.13rem;
  }
  .child14 {
    position: absolute;
    top: 27.13rem;
    left: 64.88rem;
    width: 0.13rem;
    height: 19.19rem;
    object-fit: contain;
  }
  .div8 {
    top: 28.06rem;
    left: -1.5rem;
    display: inline-block;
  }
  .div10,
  .div8,
  .div9 {
    position: absolute;
    width: 24.63rem;
  }
  .div9 {
    top: 31.06rem;
    left: -1.5rem;
    display: inline-block;
  }
  .div10 {
    top: 34.13rem;
    left: -1.69rem;
  }
  .div10,
  .div11,
  .div12 {
    display: inline-block;
  }
  .div11 {
    position: absolute;
    top: 37.63rem;
    left: -1.75rem;
    width: 24.63rem;
  }
  .div12 {
    top: 40.75rem;
  }
  .div12,
  .div13,
  .div14 {
    position: absolute;
    left: -1.75rem;
    width: 24.63rem;
  }
  .div13 {
    top: 44rem;
    display: inline-block;
  }
  .div14 {
    top: 47.13rem;
  }
  .div14,
  .div15,
  .div16 {
    display: inline-block;
  }
  .div15 {
    position: absolute;
    top: 50.5rem;
    left: -1.75rem;
    width: 24.63rem;
  }
  .div16 {
    top: 31.06rem;
    left: 15.81rem;
    width: 31.5rem;
  }
  .div16,
  .div17,
  .div18 {
    position: absolute;
  }
  .div17 {
    top: 34.94rem;
    left: 59.63rem;
    display: inline-block;
    width: 31.5rem;
  }
  .div18 {
    top: 34.19rem;
    left: 6.38rem;
  }
  .div18,
  .div19,
  .div20 {
    display: inline-block;
    width: 31.5rem;
  }
  .div19 {
    position: absolute;
    top: 37.31rem;
    left: 19.13rem;
    text-align: left;
  }
  .div20 {
    top: 44rem;
    left: 18.69rem;
  }
  .div20,
  .div21,
  .div22 {
    position: absolute;
  }
  .div21 {
    top: 40.81rem;
    left: 16.88rem;
    display: inline-block;
    width: 35.06rem;
    height: 2.38rem;
  }
  .div22 {
    top: 47.13rem;
    left: 16.94rem;
    width: 43rem;
    height: 3.06rem;
  }
  .div22,
  .div23,
  .div24 {
    display: inline-block;
  }
  .div23 {
    position: absolute;
    top: 50.5rem;
    left: 19.13rem;
    text-align: left;
    width: 62.88rem;
    height: 2.69rem;
  }
  .div24 {
    top: 28.06rem;
    left: 26.25rem;
    width: 24.63rem;
  }
  .b2,
  .child15,
  .div24 {
    position: absolute;
  }
  .child15 {
    top: 60.13rem;
    left: 7rem;
    width: 2.06rem;
    height: 1.72rem;
    object-fit: contain;
  }
  .b2 {
    top: 64.41rem;
    left: 29.56rem;
    font-size: var(--font-size-mini);
    display: inline-block;
    color: var(--color-snow-100);
    width: 10.88rem;
    height: 2.13rem;
  }
  .child16,
  .child17,
  .child18 {
    position: absolute;
    top: 62.28rem;
    left: 7rem;
    width: 79.63rem;
    height: 0.06rem;
    object-fit: contain;
  }
  .child17,
  .child18 {
    top: 65.28rem;
    width: 79.38rem;
    height: 0.19rem;
  }
  .child18 {
    top: 68.44rem;
    height: 0.1rem;
  }
  .child19,
  .child20,
  .child21,
  .child22,
  .child23,
  .child24 {
    position: absolute;
    top: 71.78rem;
    left: 6.75rem;
    width: 79.88rem;
    height: 0.16rem;
    object-fit: contain;
  }
  .child20,
  .child21,
  .child22,
  .child23,
  .child24 {
    top: 75.03rem;
  }
  .child21,
  .child22,
  .child23,
  .child24 {
    top: 78.28rem;
    height: 0.03rem;
  }
  .child22,
  .child23,
  .child24 {
    top: 81.47rem;
    left: 7rem;
    width: 79.63rem;
    height: 0.06rem;
  }
  .child23,
  .child24 {
    top: 84.78rem;
  }
  .child24 {
    top: 87.84rem;
    left: 6.75rem;
    height: 2.94rem;
  }
  .child25 {
    top: 62.34rem;
    left: 18.53rem;
    border-right: 1px solid var(--color-gray);
    box-sizing: border-box;
    width: 0.06rem;
    height: 28.44rem;
  }
  .child25,
  .child26,
  .div25 {
    position: absolute;
  }
  .child26 {
    top: 62.22rem;
    left: 53.59rem;
    border-right: 1px solid var(--color-gray);
    box-sizing: border-box;
    width: 0.06rem;
    height: 28.56rem;
  }
  .div25 {
    top: 63.22rem;
    left: 0.19rem;
    display: inline-block;
    width: 24.63rem;
  }
  .div26 {
    top: 66.22rem;
    left: 0.19rem;
  }
  .div26,
  .div27,
  .div28,
  .div29,
  .div30 {
    position: absolute;
    display: inline-block;
    width: 24.63rem;
  }
  .div27 {
    top: 69.28rem;
    left: 0;
  }
  .div28,
  .div29,
  .div30 {
    top: 72.78rem;
    left: -0.06rem;
    white-space: pre-wrap;
  }
  .div29,
  .div30 {
    top: 75.91rem;
  }
  .div30 {
    top: 79.16rem;
  }
  .div31 {
    top: 82.28rem;
  }
  .div31,
  .div32,
  .div33,
  .div34,
  .div35 {
    position: absolute;
    left: -0.06rem;
    display: inline-block;
    width: 24.63rem;
  }
  .div32 {
    top: 85.66rem;
    white-space: pre-wrap;
  }
  .div33,
  .div34,
  .div35 {
    top: 88.69rem;
  }
  .div34,
  .div35 {
    top: 66.25rem;
    left: 9.44rem;
    width: 31.5rem;
  }
  .div35 {
    top: 66.31rem;
    left: 55.56rem;
  }
  .div35,
  .div36,
  .div37 {
    text-align: left;
  }
  .div36 {
    position: absolute;
    top: 69.81rem;
    left: 55.56rem;
    display: inline-block;
    width: 31.5rem;
  }
  .div37 {
    top: 72.94rem;
    left: 55.38rem;
  }
  .div37,
  .div38,
  .div39 {
    position: absolute;
    display: inline-block;
    width: 31.5rem;
  }
  .div38 {
    top: 75.94rem;
    left: 55.56rem;
    text-align: left;
  }
  .div39 {
    top: 79.19rem;
    left: 55.38rem;
  }
  .div39,
  .div40,
  .div41 {
    text-align: left;
  }
  .div40 {
    position: absolute;
    top: 82.44rem;
    left: 55.56rem;
    display: inline-block;
    width: 31.5rem;
  }
  .div41 {
    top: 85.5rem;
    left: 55.38rem;
    white-space: pre-wrap;
  }
  .div41,
  .div42,
  .div43 {
    position: absolute;
    display: inline-block;
    width: 31.5rem;
  }
  .div42 {
    top: 88.38rem;
    left: 55.56rem;
    white-space: pre-wrap;
    text-align: left;
  }
  .div43 {
    top: 69.34rem;
    left: 8.06rem;
  }
  .div44 {
    top: 72.5rem;
    left: 20.38rem;
    text-align: left;
    width: 31.5rem;
  }
  .div44,
  .div45,
  .div46 {
    position: absolute;
    display: inline-block;
  }
  .div45 {
    top: 78.31rem;
    left: 20.19rem;
    text-align: left;
    width: 33.88rem;
  }
  .div46 {
    top: 76rem;
    left: 13.5rem;
    width: 35.06rem;
    height: 2.38rem;
  }
  .div47,
  .div48 {
    display: inline-block;
    width: 43rem;
  }
  .div47 {
    position: absolute;
    top: 82.31rem;
    left: 9.88rem;
    height: 3.06rem;
  }
  .div48 {
    top: 85.5rem;
    left: 10.63rem;
  }
  .div48,
  .div49,
  .div50 {
    position: absolute;
  }
  .div49 {
    top: 88.25rem;
    left: -0.75rem;
    display: inline-block;
    width: 43rem;
    height: 3.06rem;
  }
  .div50 {
    top: 63.25rem;
    left: 22.19rem;
  }
  .div50,
  .div51,
  .div52 {
    display: inline-block;
    width: 24.63rem;
  }
  .div51 {
    position: absolute;
    top: 63.31rem;
    left: 59rem;
  }
  .div52 {
    top: 28.06rem;
    left: 62rem;
  }
  .div52,
  .div53,
  .icon {
    position: absolute;
  }
  .icon {
    top: 9.56rem;
    left: 65.63rem;
    width: 14.06rem;
    height: 13rem;
    object-fit: cover;
  }
  .div53 {
    top: 0.63rem;
    left: 76.19rem;
    font-size: 0.75rem;
    text-align: left;
    display: inline-block;
    width: 7rem;
    height: 0.94rem;
  }
  .div {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 106.25rem;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  